.size {
    width: fit-content;
    height: fit-content;
    animation: move 22s infinite;
    position: absolute;
    top: 25%;
    z-index: 1;
    transform: scale(0.4);
    opacity: .5;
}
.player1{
    background-color: #84093200;
    background-image: url("../favicon.ico");
    background-size: contain;
    border: 10px solid #000000;
    border-bottom: none;
    border-radius: 60px 80px 0 0;
    height: 200px;
    width: 200px;
    margin: auto;
    top: 50px;
    left: -15%;
    z-index: 1;
    animation: rotate 15s infinite;
}

.player2{
    background-color: #84093200;
    background-image: url("../favicon.ico");
    background-size: contain;
    border: 10px solid #000000;
    border-bottom: none;
    border-radius: 60px 80px 0 0;
    height: 200px;
    width: 200px;
    margin: auto;
    top: 150px;
    left: 15%;
    z-index: 1;
    animation: rotate 90s infinite;
}

.player3{
    background-color: #84093200;
    background-image: url("../favicon.ico");
    background-size: contain;
    border: 10px solid #000000;
    border-bottom: none;
    border-radius: 60px 80px 0 0;
    height: 200px;
    width: 200px;
    margin: auto;
    top: 150px;
    left: 15%;
    z-index: 1;
    animation: rotate 45s infinite;
}

@keyframes move {
    0% {
        right: 100%;
    }
    50% {
        right: -1%;
    }
    51% {
        right: -0%;
    }
    100% {
        right: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(70deg);
    }
    30% {
        transform: rotate(215deg);
    }
    45% {
        transform: rotate(295deg);
    }
    60% {
        transform: rotate(325deg);
    }
    75% {
        transform: rotate(-420deg);
    }
    90% {
        transform: rotate(-485deg);
    }
    100% {
        transform: rotate(0deg);
    }
}